.fencing{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.Pagination{

    margin: 0 auto;
    bottom: 0;
}

.listGroup{
    background:white;
    border: 1px solid #e2e3e5;
    padding: 2rem;
    border-radius: 0.3rem;
}


.settingsBlock{

}

.settingsAppear{
    opacity: 0;
    position: relative;
    /*z-index: 200;*/
    background:white;
    border: 1px solid #e2e3e5;
    padding: 2rem;
    border-radius: 0.3rem;
}

.settingsAppear.entering{
    animation: settingsAppear 0.5s;
}
.settingsAppear.entered{
    opacity: 1;
}
.settingsAppear.exited{
    animation: widthAppear 0.5s;
}

.settingsAppear.exiting{
    animation: settingsVanish 0.5s;
}


@keyframes widthAppear {
    0% {
        margin-bottom: 0;
    }
    100%{
        margin-bottom: -200px;
    }
}

@keyframes settingsAppear {
    0% {
        opacity: 0;
        top: -300px;
        margin-bottom: -300px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0;
        top: 0;
    }
}

@keyframes settingsVanish{
    0% {
        opacity: 1;
        right: 0;

    }
    100%{
        opacity: 0;
        right: -300px;
    }
}


