.slider-container{

}

.input-range {
    margin-bottom: 160px;
}



.slider{
    position: absolute;
    left: 0;
}



.blockBrandsSettings{
    margin-bottom: 50px;
}

.checkBlockBrand{
    display: flex;
    min-width: 100px;
    justify-content: space-between;
}

.wrapperInputRangeSlider{
    margin-bottom: 20px;
}

.buttonSettings{
    width: 100%;
}