.slide{
    height: auto;
    display: flex;
    justify-content: center;
}

.slide_slideImage__29MbQ {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.gallery{
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: grab;
    height: 100%;

}

.slideInsides{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gallery-line{
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-slide{
    min-height: 1px;
    float: left;
}

.btnSlider{
    position: absolute;
    margin: auto 0;
    z-index: 20;
}

.btnSlider_prev{
    top:45%;
    left: 2rem;
}

.btnSlider_next{
    top:45%;
    right: 2rem;
}


.dotsMenu{
    height: 20%;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.wrapperDotItem{
    height: 2rem;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: 0.25s;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapperDotItem:hover .dotItem{

    transform: scale(1.5);
    background-color: gray;
}
.dotItem{
    transition: 0.25s;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
}






