




.basketContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.basketContainer__transparent{
    opacity: 0;
}

.basketButton{
}

.basketButton.entering {
    animation: buttonAppear 250ms;

}

.basketButton.entered{
    opacity: 1;
}


.basketButton.exiting {
    animation: buttonAppear 250ms reverse;
}

.deviceList{
    width: 100%;
}

.cardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}


@keyframes buttonAppear {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}