*, p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Nunito";
}

body{
    overflow-x: hidden;
    box-sizing: border-box;
    /*overflow-y: auto;*/

}

a:hover {
    text-decoration: none;
}